.container {
    background: radial-gradient(50% 50% at 50% 50%, rgba(221, 255, 245, 0.91) 0%, rgba(196, 238, 248, 0.91) 100%);
    height: auto;
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.navigation {
    flex-direction: row;
}

.wave {
    height: auto;
    max-height: 15vh;
    overflow: hidden;
    margin-bottom: -1vh;
    margin-left: -2vw;
}

.plane {
    order: 1;
    z-index: 100;   
    max-height: 8vh;
}

.plane svg {
    margin-left: 2vw;
    margin-top: 5px;
}