@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@500&display=swap');

body {
    background: #3987BB;
    font-family: 'Be Vietnam', sans-serif;
    color: #C4EEF8;
    overflow: hidden;
}

.main {
    margin-top: 3vh;
    margin-left: 15vw;
    width: 60vw;
    height: 50vh;
    text-align: center;
    font-size: 25pt;
}
.sharkie {
    z-index: 100;
    bottom: -5vh;
    right: 1vw;
    height: auto;
    position: fixed;
}

.sharkie img {
    width: 18vw;
}